#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

#user-list {
  background-color: darkolivegreen;
  margin: 5px;
  padding: 5px;
  width: 750px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-count: 5;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

* {
  background-color: #444;
}

figure {
  display: inline-block;
  text-align: center;
  margin: 5px; /* adjust as needed */
}
figure img {
  vertical-align: top;
}

#repos-list {
  background-color: red;
  width: 750px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-count: 1;
  overflow-y: auto;
  overflow-x: auto;
  text-align: justify;
  justify-content: left;
  align-items: left;
}

#repos-list .repo {
  border: 4px solid #1e0a82;
  padding: 5px;
  width: 100%;
  align-items: left;
}

#github-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}